@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    }

body {
  font-family: Arial;
  background: #202020;
}
hr  {  
    width: 80%;  
    height: 5px;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    }  
/* Header/Blog Title */
.header {
    width: 100%; 
}

.header h1 {
    text-align: center;
    color: #1f1f25;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header h2 {
    text-align: center;
    color: #1f1f25;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 157, 0);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #202020;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  padding-left: 2%;
  width: 75%;
  color: #ffffff;
}

.logo{
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardimg{
    max-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.collapsible h2 {
    text-align: center;
    color: #1f1f25;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: -40px 0px;
    padding-top: 40px;
}


.collapsible {
    background-color: #383636;
    border-radius: 0px 0px 0px 0px;
    border-style: outset;
    border-color: #4b4b4b;
    border-width: 2px 2px 0px 2px;
    cursor: pointer;
    width: 100%;
    color: #fff;

    display: inline-block;
   }
  
  .active, .collapsible:hover {
    background-color: #4b4b4b;
  }
  

  .collapsible:after {
    content: '\002B';
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    float: inline-start;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .active:after {
    content: "\2212";
  }


  .content {
    background-color: #cacaca;
    margin-bottom: 3px;
    padding: 2px 25px;
    border-style: outset;
    border-radius: 0px 0px 20px 20px;
    color: #000000;
    border-color: #4b4b4b;
    border-width: 0px 2px 2px 2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 1%;
  padding-right: 2%;
  color: #ffffff;
}

/* Fake image */
.img {
  background-color: #aaa;
  width:fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.nospamnomore {display:none;}


/* Add a card effect for articles */
.headpost{
    background-color: #383636;
    border-radius: 30px 30px 0px 0px;
    padding: 5px;
    color: #000000;
    border-style: outset;
    border-color: #4b4b4b;
    margin-top: 20px;
    border-width: 2px 2px 0px 2px;
  }

.post {
  background-color: #cacaca;
  padding: 20px;
  margin-bottom: 20px;
  border-style: outset;
  border-radius: 0px 0px 30px 30px;
  color: #000000;
  border-color: #4b4b4b;
  border-width: 0px 2px 2px 2px;
}

.post ul li{
    list-style: none inside;
    padding: 0px 20px;
    text-align: center;
}

.card {
    background-color: #cacaca;
    padding: 20px;
    margin: 30px 10px;
    border-style: outset;
    border-radius: 30px 30px 30px 30px;
    color: #000000;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
  }
.headpost h1 {
    text-align: center;
    color: #1f1f25;
    font-size: 30px;
    font-weight:bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme {
    background-color: #cacaca;
    margin: 30px 10px;
    padding: 20px;
    margin-top: 20px;
    border: #ff7300;
    border-radius: 20px;
    color: #000000;
    text-align: center;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #202020;
  margin-top: 20px;
  color: #ffffff;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}