@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    }

body {
  background: #202020;
}
.spamprotection {display:none;}
hr  {  
    width: 80%;  
    height: 5px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 15px;  
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    }  

    a {
        color: #8ebf42;
      }
/* Header/Blog Title */
.header {
    width: 100%; 
}

.header h1 {
    text-align: center;
    color: #1f1f25;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header h2 {
    text-align: center;
    color: #1f1f25;
    font-family: Poppins;
    font-variant: normal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 157, 0);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #202020;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.row {   
  float: left;
  padding: 2%;
  width: 100%;
  color: #ffffff;
}

.logo{
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardimg{
    max-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* accordion */

/*
 CSS for the main interaction
*/
.accordion > input[name="collapse"] {
    display: none;
    
    /*position: absolute;
    left: -100vw;*/
  }
  
  .accordion label,
  .accordion .content{
   max-width: 95%;
    margin: auto;
   }
  
  
  .accordion .content {
    background: #202020;
    overflow: hidden;
    text-align: center;
    height: 0;
    transition: 2s;
    padding: 0px;
    margin-bottom: 5px;
  }
  
  .accordion > input[name="collapse"]:checked ~ .content {
    height: auto;
    transition: height 1s;
  }
  
  .accordion label {
    display: block;
   
  }
    
  /* For Desktop */
  @media only screen and (min-width: 620px){ 
  .accordion > input[name="collapse"]:checked ~ .content {
    height: auto;
  }
  
  }
    
  .accordion {
    margin-bottom: 1em;
  }
  
  .accordion > input[name="collapse"]:checked ~ .content {
    border-top: 0;
    transition: 0.3s;
    background: #202020;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #1f1f25;
    letter-spacing: 1px;
  }
  
  .accordion label {
    cursor: pointer;
    padding: 10px;
     user-select: none;
    text-align: center;
    color: #1f1f25;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  .accordion label:hover,
  .accordion label:focus {
    max-width: 95%;
    cursor: pointer;
    padding: 10px;
     user-select: none;
    text-align: center;
    color: #1f1f25;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(120deg, #ff7300 20.69%, #7644ff 50.19%,#008cff 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  .accordion .handle label:before {
    content: "▼";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
    
  }
  
  .accordion > input[name="collapse"]:checked ~ .handle label:before {
      transform: rotate(180deg);
      transform-origin: center;
      transition: 1s;
    }
    .accordion .handle label:after {
        content: "▼";
        display: inline-block;
        margin-right: 10px;
        font-size: 1em;
        line-height: 1.556em;
        vertical-align: middle;
        transition: 0.4s;
        
      }
      
      .accordion > input[name="collapse"]:checked ~ .handle label:after {
          transform: rotate(180deg);
          transform-origin: center;
          transition: 1s;
        }
      
  

/* image */
.img {
  background-color: #aaa;
  width:fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.nospamnomore {display:none;}


/* Add a card effect for articles */
.headpost{
    background-color: #383636;
    border-radius: 30px 30px 0px 0px;
    padding: 5px;
    color: #000000;
    border-style: outset;
    border-color: #4b4b4b;
    margin-top: 20px;
    border-width: 2px 2px 0px 2px;
  }

.post {
  background-color: #cacaca;
  padding: 20px;
  margin-bottom: 20px;
  border-style: outset;
  border-radius: 0px 0px 30px 30px;
  color: #000000;
  border-color: #4b4b4b;
  border-width: 0px 2px 2px 2px;
}

.post ul li{
    list-style: none inside;
    padding: 0px 20px;
    text-align: center;
}

.card {
    background-color: #cacaca;
    padding: 20px;
    margin: 30px 10px;
    border-style: outset;
    border-radius: 30px 30px 30px 30px;
    color: #000000;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
  }
.headpost h1 {
    text-align: center;
    color: #1f1f25;
    font-size: 30px;
    font-weight:bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(120deg, #008cff 20.69%, #7644ff 50.19%,#ff7300 79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme {
    background-color: #cacaca;
    margin: 30px 10px;
    padding: 20px;
    margin-top: 20px;
    border: #ff7300;
    border-radius: 20px;
    color: #000000;
    text-align: center;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%; 
}

/* Footer */
.footer {
    width: 100%; 
  color: #ffffff;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}